---
import Layout from '../layouts/index.astro'
const allContent = await Astro.glob('../pages/posts/*.md');

const content = {
  title: `Välkommen! Det här är en plats för att lära sig skriva kod och programmera. Inga förkunskaper krävs och innehållet fokuserar på webbutveckling, främst JavaScript men även en del CSS och HTML.`,
}

---

<Layout content={content} >
  <div class="space-y-6">
    {allContent.map(post => (
      <a class="flex justify-between p-3 shadow-lg md:p-6" href={post.url} >
        <div class="flex flex-col justify-between mr-2">
          <div>
            <h2 class="text-xl font-bold">{post.frontmatter.title}</h2>
            <p class="hidden sm:block">{post.frontmatter.ingress}</p>
          </div>
          <p class="text-xs">{post.frontmatter.author} // {post.frontmatter.date}</p>
        </div>
        <img src={`assets/images/${post.frontmatter.date}.jpg`} alt={`Bild för inlägg postat den ${post.frontmatter.date}`} class="object-cover w-24 aspect-square" />
      </a>
    ))}
  </div>
</Layout>