---
import Layout from '../layouts/index.astro'
const allContent = await Astro.glob('../pages/posts/*.md');

const content = {
  title: `Välkommen just nu finns det ${allContent.length} inlägg att läsa`,
}

---

<Layout content={content} >
  <div class="space-y-6">
    {allContent.map(post => (
      <a class="block" href={post.url} >
        <h2 class="font-bold">{post.frontmatter.title}</h2>
        <p>{post.frontmatter.date}</p>
        <p>{post.frontmatter.ingress}</p>
      </a>
    ))}
  </div>
</Layout>