---
import '../styles/global.css';

const { content } = Astro.props;
const siteConfig = {
  title: 'Jag vill lära mig koda!',
}
---
<html class="min-h-screen">
  <head>
    <!-- Add other Head elements here, like styles and meta tags. -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{content.title}</title>
  </head>
  <body class="min-h-screen px-4 mx-auto md:max-w-screen-md">
    <header class="flex flex-col justify-between w-full py-8 space-y-4 sm:flex-row sm:items-center sm:py-10 sm:space-y-0">
      <a class="text-2xl font-bold" href="/">{ siteConfig.title }</a>
    </header>
    <main class="min-h-screen">
      <div class={`${content.type === 'post' ? 'post' : ''}`}>
        {content.type === 'post' ?
        <div class="mb-8">
          <h1 class="mb-2 text-2xl">{content.title}</h1>
          <h2 class="mb-8 text-sm">{content.author} // {content.date}</h2>
          <div class="flex justify-center">
            <img src={`/assets/images/${content.date}.jpg`} class="w-full mb-4" />
          </div>
        </div>
        :
        <h1 class="mb-16">{content.title}</h1>
        }
        <slot />
      </div>
    </main>
  </body>
</html>